.discover-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.discover-main-section .covers {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 450px;
}

.icon-section {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background: #428da4;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .discover-main-section {
    flex-direction: column;
    justify-content: center;
  }
  .discover-main-section .covers {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
  }
}
